<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="locationFlat">
            <h2><span jhiTranslate="jhibaseApp.locationFlat.detail.title">Location Flat</span> {{locationFlat.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhibaseApp.locationFlat.stationId">Station Id</span></dt>
                <dd>
                    <span>{{locationFlat.stationId}}</span>
                </dd>
                <dt><span jhiTranslate="jhibaseApp.locationFlat.groupName">Group Name</span></dt>
                <dd>
                    <span>{{locationFlat.groupName}}</span>
                </dd>
                <dt><span jhiTranslate="jhibaseApp.locationFlat.stationName">Station Name</span></dt>
                <dd>
                    <span>{{locationFlat.stationName}}</span>
                </dd>
                <dt><span jhiTranslate="jhibaseApp.locationFlat.longitude">Longitude</span></dt>
                <dd>
                    <span>{{locationFlat.longitude}}</span>
                </dd>
                <dt><span jhiTranslate="jhibaseApp.locationFlat.latitude">Latitude</span></dt>
                <dd>
                    <span>{{locationFlat.latitude}}</span>
                </dd>
                <dt><span jhiTranslate="jhibaseApp.locationFlat.accuracy">Accuracy</span></dt>
                <dd>
                    <span>{{locationFlat.accuracy}}</span>
                </dd>
                <dt><span jhiTranslate="jhibaseApp.locationFlat.address">Address</span></dt>
                <dd>
                    <span>{{locationFlat.address}}</span>
                </dd>
                <dt><span jhiTranslate="jhibaseApp.locationFlat.province">Province</span></dt>
                <dd>
                    <span>{{locationFlat.province}}</span>
                </dd>
                <dt><span jhiTranslate="jhibaseApp.locationFlat.city">City</span></dt>
                <dd>
                    <span>{{locationFlat.city}}</span>
                </dd>
                <dt><span jhiTranslate="jhibaseApp.locationFlat.district">District</span></dt>
                <dd>
                    <span>{{locationFlat.district}}</span>
                </dd>
                <dt><span jhiTranslate="jhibaseApp.locationFlat.road">Road</span></dt>
                <dd>
                    <span>{{locationFlat.road}}</span>
                </dd>
                <dt><span jhiTranslate="jhibaseApp.locationFlat.netType">Net Type</span></dt>
                <dd>
                    <span>{{locationFlat.netType}}</span>
                </dd>
                <dt><span jhiTranslate="jhibaseApp.locationFlat.operatorType">Operator Type</span></dt>
                <dd>
                    <span>{{locationFlat.operatorType}}</span>
                </dd>
                <dt><span jhiTranslate="jhibaseApp.locationFlat.ddUserName">Dd User Name</span></dt>
                <dd>
                    <span>{{locationFlat.ddUserName}}</span>
                </dd>
                <dt><span jhiTranslate="jhibaseApp.locationFlat.ddUserId">Dd User Id</span></dt>
                <dd>
                    <span>{{locationFlat.ddUserId}}</span>
                </dd>
                <dt><span jhiTranslate="jhibaseApp.locationFlat.ddUserPhone">Dd User Phone</span></dt>
                <dd>
                    <span>{{locationFlat.ddUserPhone}}</span>
                </dd>
                <dt><span jhiTranslate="jhibaseApp.locationFlat.isFinish">Is Finish</span></dt>
                <dd>
                    <span>{{locationFlat.isFinish}}</span>
                </dd>
                <dt><span jhiTranslate="jhibaseApp.locationFlat.workLogMainId">Work Log Main Id</span></dt>
                <dd>
                    <span>{{locationFlat.workLogMainId}}</span>
                </dd>
                <dt><span jhiTranslate="jhibaseApp.locationFlat.workLogType">Work Log Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'jhibaseApp.WorkLogType.' + locationFlat.workLogType}}">{{locationFlat.workLogType}}</span>
                </dd>
                <dt><span jhiTranslate="jhibaseApp.locationFlat.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{locationFlat.createdDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/location-flat', locationFlat.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
