<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhibaseApp.historySearch.home.title">History Searches</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-history-search" [routerLink]="['/history-search/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhibaseApp.historySearch.home.createLabel">
            Create a new History Search
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="historySearches?.length === 0">
        <span jhiTranslate="jhibaseApp.historySearch.home.notFound">No historySearches found</span>
    </div>
    <div class="table-responsive" *ngIf="historySearches?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="searchConetnt"><span jhiTranslate="jhibaseApp.historySearch.searchConetnt">Search Conetnt</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="searchCount"><span jhiTranslate="jhibaseApp.historySearch.searchCount">Search Count</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="isHot"><span jhiTranslate="jhibaseApp.historySearch.isHot">Is Hot</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createdDate"><span jhiTranslate="jhibaseApp.historySearch.createdDate">Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="updateDate"><span jhiTranslate="jhibaseApp.historySearch.updateDate">Update Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let historySearch of historySearches ;trackBy: trackId">
                <td><a [routerLink]="['/history-search', historySearch.id, 'view' ]">{{historySearch.id}}</a></td>
                <td>{{historySearch.searchConetnt}}</td>
                <td>{{historySearch.searchCount}}</td>
                <td>{{historySearch.isHot}}</td>
                <td>{{historySearch.createdDate | date:'medium'}}</td>
                <td>{{historySearch.updateDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/history-search', historySearch.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/history-search', historySearch.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/history-search', { outlets: { popup: historySearch.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="historySearches?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
