<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="uucUserBaseinfo">
            <h2><span jhiTranslate="jhibaseApp.uucUserBaseinfo.detail.title">Uuc User Baseinfo</span> {{ uucUserBaseinfo.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhibaseApp.uucUserBaseinfo.msgReceiverGroup">Msg Receiver Group</span></dt>
                <dd>
                    <div *ngIf="uucUserBaseinfo.msgReceiverGroup">
                        <a [routerLink]="['/msg-receiver-group-mp', uucUserBaseinfo.msgReceiverGroup?.id, 'view']">{{ uucUserBaseinfo.msgReceiverGroup?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/uuc-user-baseinfo-mp', uucUserBaseinfo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
