<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-uuc-user-baseinfo-mp-heading" jhiTranslate="jhibaseApp.uucUserBaseinfo.home.createOrEditLabel">Create or edit a Uuc User Baseinfo</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhibaseApp.uucUserBaseinfo.msgReceiverGroup" for="field_msgReceiverGroup">Msg Receiver Group</label>
                    <select class="form-control" id="field_msgReceiverGroup" name="msgReceiverGroup" formControlName="msgReceiverGroup">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="msgReceiverGroupOption.id === editForm.get('msgReceiverGroup')!.value?.id ? editForm.get('msgReceiverGroup')!.value : msgReceiverGroupOption" *ngFor="let msgReceiverGroupOption of msgreceivergroups; trackBy: trackById">{{ msgReceiverGroupOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
