<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhibaseApp.uucUserBaseinfo.home.title">Uuc User Baseinfos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-uuc-user-baseinfo-mp" [routerLink]="['/uuc-user-baseinfo-mp/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhibaseApp.uucUserBaseinfo.home.createLabel">
            Create a new Uuc User Baseinfo
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="uucUserBaseinfos?.length === 0">
        <span jhiTranslate="jhibaseApp.uucUserBaseinfo.home.notFound">No uucUserBaseinfos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="uucUserBaseinfos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let uucUserBaseinfo of uucUserBaseinfos ;trackBy: trackId">
                    <td><a [routerLink]="['/uuc-user-baseinfo-mp', uucUserBaseinfo.id, 'view']">{{ uucUserBaseinfo.id }}</a></td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/uuc-user-baseinfo-mp', uucUserBaseinfo.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/uuc-user-baseinfo-mp', uucUserBaseinfo.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(uucUserBaseinfo)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
