<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhibaseApp.uucDepartmentTree.home.title">Uuc Department Trees</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-uuc-department-tree-mp" [routerLink]="['/uuc-department-tree-mp/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhibaseApp.uucDepartmentTree.home.createLabel">
            Create a new Uuc Department Tree
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="uucDepartmentTrees?.length === 0">
        <span jhiTranslate="jhibaseApp.uucDepartmentTree.home.notFound">No uucDepartmentTrees found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="uucDepartmentTrees?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jhibaseApp.uucDepartmentTree.msgReceiverGroup">Msg Receiver Group</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let uucDepartmentTree of uucDepartmentTrees ;trackBy: trackId">
                    <td><a [routerLink]="['/uuc-department-tree-mp', uucDepartmentTree.id, 'view']">{{ uucDepartmentTree.id }}</a></td>
                    <td>
                        <div *ngIf="uucDepartmentTree.msgReceiverGroup">
                            <a [routerLink]="['/msg-receiver-group-mp', uucDepartmentTree.msgReceiverGroup?.id, 'view']" >{{ uucDepartmentTree.msgReceiverGroup?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/uuc-department-tree-mp', uucDepartmentTree.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/uuc-department-tree-mp', uucDepartmentTree.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(uucDepartmentTree)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
