<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fmpSubCompany">
            <h2><span jhiTranslate="jhibaseApp.fmpSubCompany.detail.title">Fmp Sub Company</span> {{ fmpSubCompany.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhibaseApp.fmpSubCompany.moreTodoUrl">More Todo Url</span></dt>
                <dd>
                    <span>{{ fmpSubCompany.moreTodoUrl }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fmp-sub-company-mp', fmpSubCompany.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
