<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="processMsgTask">
            <h2><span jhiTranslate="jhibaseApp.processMsgTask.detail.title">Process Msg Task</span> {{ processMsgTask.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhibaseApp.processMsgTask.pushSubject">Push Subject</span></dt>
                <dd>
                    <div *ngIf="processMsgTask.pushSubject">
                        <a [routerLink]="['/push-subject-mp', processMsgTask.pushSubject?.id, 'view']">{{ processMsgTask.pushSubject?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/process-msg-task-mp', processMsgTask.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
