<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mpHotspot">
            <h2><span jhiTranslate="jhibaseApp.mpHotspot.detail.title">Mp Hotspot</span> {{ mpHotspot.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhibaseApp.mpHotspot.name">Name</span></dt>
                <dd>
                    <span>{{ mpHotspot.name }}</span>
                </dd>
                <dt><span jhiTranslate="jhibaseApp.mpHotspot.imageUrl">Image Url</span></dt>
                <dd>
                    <span>{{ mpHotspot.imageUrl }}</span>
                </dd>
                <dt><span jhiTranslate="jhibaseApp.mpHotspot.pathUrl">Path Url</span></dt>
                <dd>
                    <span>{{ mpHotspot.pathUrl }}</span>
                </dd>
                <dt><span jhiTranslate="jhibaseApp.mpHotspot.addTime">Add Time</span></dt>
                <dd>
                    <span>{{ mpHotspot.addTime }}</span>
                </dd>
                <dt><span jhiTranslate="jhibaseApp.mpHotspot.orderNum">Order Num</span></dt>
                <dd>
                    <span>{{ mpHotspot.orderNum }}</span>
                </dd>
                <dt><span jhiTranslate="jhibaseApp.mpHotspot.note">Note</span></dt>
                <dd>
                    <span>{{ mpHotspot.note }}</span>
                </dd>
                <dt><span jhiTranslate="jhibaseApp.mpHotspot.fmpSubCompany">Fmp Sub Company</span></dt>
                <dd>
                    <div *ngIf="mpHotspot.fmpSubCompany">
                        <a [routerLink]="['/fmp-sub-company-mp', mpHotspot.fmpSubCompany?.id, 'view']">{{ mpHotspot.fmpSubCompany?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/mp-hotspot-mp', mpHotspot.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
